misc

#https://github.com/github/gitignore/blob/master/Global/MicrosoftOffice.gitignore
*.tmp

#*.html

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

#asciidocFX generated cheatsheet
#cheatsheet*
